{% extends "header.html" %}
{% block jquery%}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#content').keyup(function() {
                content = $('#content').val();
                $('#editor-result').html('&nbsp;').load( 'http://127.0.0.1:8000/ask_question/req_pass/?content=' + content);
            });
        });
    </script>
{% endblock%}
{% block question_details %}
	<div class="container" style="margin-top: 40px">
            	<div class="row">
                	<div class="col-md-12">
                    	<div class="row">
                        	<div class="col-md-8">
                            	<div class="row"><label for="title" class="col-md-1">Title:</label><input class="col-md-8" type="text" name="title" id="title"></div>
                            	<div class="row" style="padding-top: 1em"><textarea class="form-control" rows="12" id="content" name="content"></textarea></div>
                            	<div class="row">
                            		<div class="col-md-12" id="editor-result" >
                            			
                            		</div>
                            	</div>
                        	</div>
                        	<div class="col-md-1"></div>
                        	<div class="col-md-3 hidden-xs">
                            	<div class="row bgcolor-localara" style="margin-bottom : 1.5em">
                                	<div class="row qww-localara">
                                    	<div class="col-md-12 minheader-localara"><span>Header </span></div>
                                	</div>
                                	<div class="row qww-localara small" style="padding:1em;">
                                    	<div class="col-md-1"><span class="glyphicon glyphicon-camera"> </span></div>
                                    	<div class="col-md-10"><span>cjhvjhjhvjhvj jyjbjhb jyfyfuy</span></div>
                                	</div>
                            	</div>
                            	<div class="row bgcolor-localara" style="margin-bottom : 1.5em">
                                	<div class="row qww-localara">
                                    	<div class="col-md-12 minheader-localara"><span>Header </span></div>
                                	</div>
                                	<div class="row qww-localara small" style="padding:1em;">
                                    	<div class="col-md-1"><span class="glyphicon glyphicon-camera"> </span></div>
                                    	<div class="col-md-10"><span>cjhvjhjhvjhvj jyjbjhb jyfyfuy</span></div>
                                	</div>
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        	</div>
{% endblock %}