{% extends "header.html" %}


{% block question_details %}
    {% for post in post_detail %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                        <div class="row">
                            <div class="que-header-localara">
                                <h2>{{ post.Title }}</h2>
                                <div class="side-btn-localara"><a class="btn btn-info" href="\ask_question">Ask Question</a></div>
                            </div>
                        </div>
                    <div class="col-md-8 bgcolor-localara" style="padding-top: 1em">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="row qww-localara">
                                    <div class="col-md-1 col-xs-1 text-center">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="glyphicon glyphicon-triangle-top"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12"><span>{{ post.Score }} </span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="glyphicon glyphicon-triangle-bottom"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                            {{ post.Body }}
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 1em">
                                            <div class="col-md-12 col-xs-12" style="padding-bottom:10px">
                                                <p><a href="#" class="css-tag-coustom" style="float: left">{{ post.Tags}}</a>
                                                    <span
                                                    class="small" style="float: right">asked {{ post.CreationDate|timesince }} ago by {{ posts.OwnerDisplayName }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    {% endfor %}
                                <div class="row">
                                    <div class="col-md-12"><h2>Answers</h2></div>
                                </div>
                                {% for posts in post_details %}
                                <div class="row qww-localara">
                                    <div class="col-md-1 col-xs-1 text-center">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="glyphicon glyphicon-triangle-top"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12"><span title="{{ posts.score }} Score">{{ posts.Score }} </span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="glyphicon glyphicon-triangle-bottom"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-11 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12" style="padding-top:10px">{{ posts.Body }}
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 1em">
                                            <div class="col-md-12 col-xs-12" style="padding-bottom:10px">
                                                <p>
                                                    <span
                                                    class="small" style="float: right">Posted {{ posts.CreationDate|timesince }} ago by {{ posts.OwnerDisplayName }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-1"></div>
                    <div class="col-md-3 hidden-xs">
                        <div class="row bgcolor-localara" style="margin-bottom : 1.5em">
                            <div class="row qww-localara">
                                <div class="col-md-12 minheader-localara"><span>Header </span></div>
                            </div>
                            <div class="row qww-localara small" style="padding:1em;">
                                <div class="col-md-1"><span class="glyphicon glyphicon-camera"> </span></div>
                                <div class="col-md-10"><span>cjhvjhjhvjhvj jyjbjhb jyfyfuy</span></div>
                            </div>
                        </div>
                        <div class="row bgcolor-localara" style="margin-bottom : 1.5em">
                            <div class="row qww-localara">
                                <div class="col-md-12 minheader-localara"><span>Header </span></div>
                            </div>
                            <div class="row qww-localara small" style="padding:1em;">
                                <div class="col-md-1"><span class="glyphicon glyphicon-camera"> </span></div>
                                <div class="col-md-10"><span>cjhvjhjhvjhvj jyjbjhb jyfyfuy</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}