{% extends "header.html" %}

{% block content %}
    {% for post in all_post %}
        <div class="row qww-localara" style="padding-top: 1em;padding-bottom:1em;">
            <div class="col-md-8 col-xs-8">       
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p><a href="{{ post.id }}">{{ post.Title }}</a></p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 1em">
                    <div class="col-md-12 col-xs-12">
                        <p><a href="#" class="css-tag-coustom" style="float: left">{{ post.Tags }} </a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 text-center" style="border-left: 1px solid #e4e6e8">
                <div class="row">
                    <div class="col-md-6 col-xs-6"><span>{{ post.AnswerCount }} </span></div>
                    <div class="col-md-6 col-xs-6"><span>{{ post.Score }} </span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <span>Answer</span>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <span>score</span>
                    </div>
                </div>
                <div class="row" style="padding-top: 1em">
                    <span class="small">asked {{ post.CreationDate|timesince }} ago by <a class="css-custom-tag">Juned Rajbhara</a></span>
                </div>
            </div>
        </div>
    {% empty %}
        <h1>BadLuck nothing to show</h1>
    {% endfor %}
{% endblock %}

{% block pagination %}
        {% if is_paginated %}
            <div class="col-md-12">
                <div class="col-xs-6 col-md-6">
                    <nav>
                        <ul class="pagination">
                            <li><a href="?pg=15">15</a></li>
                            <li><a href="?pg=35">35</a></li>
                            <li><a href="?pg=50">50</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-6 col-md-6">
                    <nav style="float: right;">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a aria-label="Previous" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">«</span></a></li>
                            {% else %}
                                <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a aria-label="Next" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">»</span></a></li>
                            {% else %}
                                <li class="disabled"><span>»</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
{% endblock %}